# Practica 1
# Francisco Cortes
Ejemplo de celda _Markdown_
- Podemos usar listas y
- enumeraciones
Tambien podemos dar formato a nuestro texto:
1. Negritas: **Texto en negritas**, __Negritras usando 2 underscores__
2. Italicas: *Texto en italicas*, _Tambien con 1 underscore_
3. Usamos una tilde inversa para texto que indique codigo dentro de una oracion: `print("Hola Mundo")`
4. Usamos tres tildes inversas para bloques de codigo:
```
a = 1
b = 2
print(a+b)
```

In [4]:
a = "Hola Mundo"
x = 4
y = 5
print(a, "x * y:", x*y)

Hola Mundo x * y: 20

# Actividad 2 Recordar algunas partes del Lenguaje

In [ ]:
a = "variable tipo string"
valorInicial = 1 # variable tipo entero y un comentario

In [6]:
a = 1 # entero
b = 3.4 # punto flotante
c = 2+3j # número complejo
print(a, b, c)

1 3.4 (2+3j)

In [8]:
s1 = "Esto es una cadena con retorno de carro\n"
s2 = 'También podemos usar las "comillas sencillas"\n'
s3 = """Esta cadena
 abarca varios
 renglones … """
print(s1, s2, s3)

Esto es una cadena con retorno de carro
 También podemos usar las "comillas sencillas"
 Esta cadena
 abarca varios
 renglones …

In [10]:
a = [1, 3, 25]
b = [1] * 10
c=list()
d=[]
print(a)
print(b)
print(c)
print(d)

[1, 3, 25]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[]
[]

In [11]:
a = list(range(4))
b = list(range(5,10))
c = list(range(0, 100, 10))
d = list(range(10, 0, -1))
print(a, b, c, d)

[0, 1, 2, 3] [5, 6, 7, 8, 9] [0, 10, 20, 30, 40, 50, 60, 70, 80, 90] [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
a = list(range(1,100))
print(a[0], a[1], a[10], a[25], a[50])
print(a[:10])
print(a[90:])
print(a[25:50])

1 2 11 26 51
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[91, 92, 93, 94, 95, 96, 97, 98, 99]
[26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [18]:
a = 5
if a < 10:
    print("menor a 10")
elif a > 10:
    print("mayor a 10")
else:
    print("igual a 10")

menor a 10

In [26]:
lista = [1,2,3]
contador = 0
for i in lista:
    print(i)
for i in range(0,11):
    print(i)
for i in range(10, -1, -1):
    print(i)
while contador <= 10:
    print(contador)
    contador += 1

1
2
3
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
0
1
2
3
4
5
6
7
8
9
10

In [29]:
def cuadrado(n):
 return n*n
def factorial(n):
 if n <= 1:
     return n
 else:
     return n * factorial(n-1)

print(cuadrado(5))
print(factorial(5))

25
120

In [31]:
print("Dame una cadena")
cadena = input()
print("La cadena es,", cadena)

entero= int(input("Introduce un entero: "))
print(entero)

flotante= float(input("Introduce un flotante: "))
print(flotante)

Dame una cadena

 hhdhdh

La cadena es, hhdhdh

Introduce un entero:  12

12

Introduce un flotante:  12.456

12.456