# Regresión Líneal Múltiple - Constructor Inmobiliario

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [79]:
#importar datos
df = pd.read_csv('ConstructorInmobiliario.csv')
df.head()

   Family  SqrFt  Income  Size  Senior  Education
0       1   2240    60.8     2       0          4
1       2   2380    68.4     2       1          6
2       3   3640   104.5     3       0          7
3       4   3360    89.3     4       1          0
4       5   3080    72.2     4       0          2

# 1. Determinar variables independientes
En el primer modelo, no se incluye si la columna si había un adulto mayor viviendo en la casa, dado a que en el tamaño de la familia viene incluido. No se incluye la diferencia de educación entre la pareja, dado que queremos probar si no es relevante para la elección de la casa

In [80]:
X1 = df[['Income', 'Size']]
X2 = df[['Income', 'Size', 'Senior', 'Education']]
df[['Income', 'Size', 'Senior', 'Education']]

   Income  Size  Senior  Education
0    60.8     2       0          4
1    68.4     2       1          6
2   104.5     3       0          7
3    89.3     4       1          0
4    72.2     4       0          2
5   114.0     3       1         10
6   125.4     6       0          6
7    83.6     3       0          8
8   133.0     5       0          2
9    95.0     3       0          6

# 2. Determinar variables dependientes

In [81]:
Y = df[['SqrFt']]
df[['SqrFt']]

   SqrFt
0   2240
1   2380
2   3640
3   3360
4   3080
5   2940
6   4480
7   2520
8   4200
9   2800

# 4. Modelo 1 Simple (Income and Size)

In [82]:
#Ajustar el primer modelo de regresión múltiple
model1 = LinearRegression() 
model1.fit(X1, Y) #Entrenando el modelo 
y1_pred = model1.predict(X1)
y1_pred

array([[2195.23004477],
       [2287.54747568],
       [3098.02686429],
       [3285.36359426],
       [3077.64937471],
       [3213.42365293],
       [4467.81457465],
       [2844.15392929],
       [4188.16041377],
       [2982.63007565]])

# 5. Modelo 2 Completo (Income, Size, Senior, Education)

In [83]:
#Ajustar el primer modelo de regresión múltiple
model2 = LinearRegression() 
model2.fit(X2, Y) #Entrenando el modelo 
y2_pred = model2.predict(X2)
y2_pred

array([[2267.12113914],
       [2230.96346368],
       [3139.55110543],
       [3353.22317281],
       [3079.84105256],
       [3095.81336351],
       [4343.47084265],
       [2759.67833243],
       [4347.30392475],
       [3023.03360304]])

# 6. Métricas Simple (Income and Size)

In [88]:
#Metricas estadísticas
mse1 = mean_squared_error(Y, y1_pred) #Error de la media cuadrática
r21 = r2_score(Y, y1_pred) #varianza

In [89]:
print('Valor de intersección : ', model1.intercept_)
print('Coeficientes: ', model1.coef_)
print('Error cuadrático medio', mse1)
print('Varianza: ', r21)

Valor de intersección :  [712.74741393]
Coeficientes:  [[ 12.14703038 371.97159179]]
Error cuadrático medio 52334.14852555194
Varianza:  0.8982427736794737

# 7. Métricas Completo (Income, Size, Senior, Education)

In [90]:
#Metricas estadísticas
mse2 = mean_squared_error(Y, y2_pred) #Error de la media cuadrática
r22 = r2_score(Y, y2_pred) #varianza

In [91]:
print('Valor de intersección : ', model2.intercept_)
print('Coeficientes: ', model2.coef_)
print('Error cuadrático medio', mse2)
print('Varianza: ', r22)

Valor de intersección :  [879.3937802]
Coeficientes:  [[ 16.32862748 274.68232141 -83.04632698 -38.60445866]]
Error cuadrático medio 44524.864449813016
Varianza:  0.9134269528337072

# 8. Conlusiones
Aunque el primer modelo presenta un buen ajuste y simplicidad, el segundo modelo demuestra un mejor rendimiento predictivo y una mayor capacidad para explicar la variabilidad de los datos.